OUTTAKE_LOG_LEVEL=info
OUTTAKE_ENV=production
OUTTAKE_LISTEN_ADDR=0.0.0.0:8080
OUTTAKE_PUBLIC_BASE_URL=http://localhost:8080
OUTTAKE_MEDIA_PATH=/path/to/your/media
OUTTAKE_PLEX_MEDIA_ROOT=
OUTTAKE_LOCAL_MEDIA_ROOT=/media
# OUTTAKE_DATA_PATH=./data
# OUTTAKE_CROP_BLACK_BARS=false
# OUTTAKE_WEB_SAFE_COLOR=false
