// Copyright (c) 2026 - Nicholas Fedor <nick@nickfedor.com>
// SPDX-License-Identifier: AGPL-3.0-or-later

// Package csrf renders hidden CSRF fields for HTML forms.
package csrf

import "github.com/PapagoLabs/outtake/internal/web"

templ Field() {
	if token := web.CSRFToken(ctx); token != "" {
		<input type="hidden" name={ web.CSRFFormField } value={ token }/>
	}
}
